html,
body {
	height: 100%;
}

@media only screen and (min-width: 320px) {
	.footer div {
		font-size: 15px;
	}
	.footer a {
		font-size: 25px;
	}
}

@media only screen and (min-width: 414px) {
	.footer div {
		font-size: 16px;
	}
	.footer a {
		font-size: 25px;
	}
}

@media only screen and (min-width: 768px) {
	.footer div {
		font-size: 20px;
	}
	.footer a {
		font-size: 30px;
	}
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 2000px) {
	.footer div {
		font-size: 30px;
	}
	.footer a {
		font-size: 60px;
	}
}
